<h1> Create new Vibe </h1>
<%= simple_form_for @vibe do |f| %>
<%= f.input :name, label: "Name of vibe" %>
<%= f.input :details %>
<span class="badge bg-primary">Image/Aura</span>
<%= f.file_field :aura %>
<br>
<span class="badge bg-info text-dark">State Of Mind</span>
<%= f.select :state, Vibe::STATE_OPTIONS, {}, class: "form Control", label: "Name of vibe" %><br>


<br>
<input class="btn btn-primary" type="submit" value="Submit">

 <% end %>
