

<%= form_for @dreamer do |f|%>
 <%= f.hidden_field :dreamcatcher_id, value: @dreamcatcher.id %> %>
<%= f.text_field :description %>

    <h3>Kind of Dream:</h3>
     <%= f.hidden_field :dream_ids, value: @dream.id %> %>
  <%= f.fields_for :dreams do |s| %>
    <%= s.collection_select :name %>
  <% end %>
   <%= submit_tag "submit"  %>
 <% end %>