<!DOCTYPE html>
<html>
  <head>
    <title>Viber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		 <link rel="stylesheet" href="application.scss">
  </head>

  <body>
       <div class="container pt-5 pb-5">
    <nav class="navbar navbar-dark">
		   <div class="container pt-5 pb-5">
			  <div class="navbar-header">
				    <%= link_to "Vibelist", root_path, class: "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav">
			<% if current_user.present? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log In", new_user_session_path %></li>
						<li><%= link_to "Sign Up", new_user_registration_path %></li>
				
				<% end %>
					 <% if user_signed_in? %>
				<%= link_to " Search ", users_path, class: "navbar-text navbar-link navbar-right" %><br>
           <% end %>
				
			</ul>
			<% if user_signed_in? %>
				<%= link_to "New Vibe", new_vibe_path, class: "navbar-text navbar-link navbar-right" %>
        <% end %>
				<% if user_signed_in? %>
				<%= link_to "Chat ", new_page_path, class: "navbar-text navbar-link navbar-right" %>
           <% end %>
					 <% if user_signed_in? %>
				<%= link_to " States ", image_elements_path, class: "navbar-text navbar-link navbar-right" %>
           <% end %>
					 	 <% if user_signed_in? %>
				<%= link_to " Details ", image_elements_details_path, class: "navbar-text navbar-link navbar-right" %>
           <% end %>
					 <% if user_signed_in? %>
				<%= link_to " Auras/Image ", image_elements_auras_path, class: "navbar-text navbar-link navbar-right" %><br>
           <% end %>
					 
				
			   </div>
			  </div>
			</nav>
			
			


	
	
	<% if user_signed_in? %>
  <p class="text-center"> <%= current_user.email.split('@')[0].capitalize %> </p>
   <% end %>
	 <center> <h4> <%= link_to "O R A C L E ", oracles_url %> </center> </h4>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    
    <%= yield %>
		
  </body>
</html>
